/*@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
*/html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0.1px;
}
h1,h2,h3,
h4,h5,h6,
a,p,li,span,
input,textarea,
button,blockquote {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
}

.topbar-contact-info li{
	float: left;
	list-style: none;
	position: relative;
	top:10px;
}
.header-social-icon li{
	float: right;
	list-style: none;
	position:relative;
	right:75px;
	top:10px;
}
.logobar-sm{
	height:60px;
}
.logobar-sm li{
	font-style: black;
	font-size: 30px;
	float: left;
	list-style: none;
	background-attachment: fixed;
	position: relative;
	top:10px;
}
.bar-wrap{
	background-attachment: fixed;
}
#back{
	height: 1050px;
background-image: url("img/blood.png");
background-repeat: no-repeat;
background-size: 1350px;
}
#contain{
	margin-left: 8pc;
	margin-right: 8pc;
}
#whole{
	position: relative;
	top:30px;
}
#bar{
	margin-bottom: 10px;
}